<!--Footer content-->
<footer class="footer-content">

    <h2>Henrique &middot; Estudante</h2>

    <ul>
        <a href="https://www.linkedin.com/in/henrique-silva-9737bb237/">
            <li>
                <img src="/img/linkedin-brands.svg" alt="Logo do Linkedin" class="linkedin-logo">
            </li>
        </a>
        
        <a href="https://github.com/henrySilverIX">
            <li>
                <img src="/img/square-github-brands.svg" alt="Logo do github" class = "github-logo">
            </li>
        </a>
        
        <a href="mailto:henrysilver.gold@gmail.com">
            <li>
                <img src="/img/envelope-solid.svg" alt="Ãcone de email" class = "email-icone">
                
            </li>
        </a>
    </ul>

    <p>
        <small>
            &copy; 2025 Henrique. All rights reserved.
        </small> 
    </p>
</footer>
</body>
</html>