<%- include('header.ejs') %>
<%- include('navbar.ejs') %>

<!--Page Intro-->
<section id="intro">
    <p class="intro__name">Oi, meu nome é <span>Henrique Tadeu da Silva.</span></p>
    

    <h1>Eu sou um estudante de Análise e Desenvolvimento de Sistemas. Eu estou no meu segundo ano na faculdade e gostando do curso.</h1>
    
    <p>Atualmente, eu não estou trabalhanddo mas eu já estou planejanddo tentar um estágio esse ano para eu finalmente ter uma experiência em minha área.</p>
    <p>Eu também estou estudando desenvolvimento web e muitas outras linguagens de programação, especialmente em plataformas como <a href="https://frontendmasters.com/">Frontend Masters</a> e
        <a href="https://www.udemy.com/">Udemy</a>.
    </p>
</section>

<!--Projects section-->
<section class="section-project">
    <h2>Projetos que eu tenho orgulho</h2>
    
    <h3>Hangman Game</h3>

    <p>Descrição do projeto: </p>
    <p>Trata-se de um projeto de um jogo da forca em Python. O projeto funciona tanto para o idioma português quanto para o idioma inglês.</p>
    <p>O link para o projeto está <a href="https://github.com/henrySilverIX/Hangman-game">aqui</a>.</p>
        
    
    Tecnologias usadas:
    <ul>
        <li>Python</li>
    </ul>
    
    <img src="/img/jogo-forca.JPG" alt="Imagem do jogo da forca" id="img-section-hangman"/>
</section>


<div class="section-plum">
    <section id="contact">
        <h2>Entre em contato comigo:</h2>
        <p>Eu também estou interessado em ouvir novas<br> oportunidades de emprego sobre desenvolvimento de software<br> ou desenvolvimento web.</p>
        <p><a href="mailto:henrysilver.gold@gmail.com" class="button">Mande-me um email</a></p>
    </section>
</div>

<%- include('footer.ejs') %>