<%- include('header.ejs') %>
<%- include('navbar.ejs') %>

<!--Page Intro-->
<section id="intro">
    <p class="intro__name">Hi, my name is <span>Henrique Tadeu da Silva.</span></p>
    

    <h1>I'm a System Development and Analysis student. I'm in my second year in college and I'm really into this course.</h1>
    
    <p>Currently, I'm not working but I'm planning in get a job this year (internee) and finally get an experience in my field.</p>
    <p>I'm also studying a lot of Webdevelopment and other programming languages, specially in <a href="https://frontendmasters.com/">Frontend Masters</a> and
        <a href="https://www.udemy.com/">Udemy</a>.
    </p>
</section>

<!--Projects section-->
<section class="section-project">
    <h2>Projects I'm proud of</h2>
    
    <h4>Latest Project</h4>
    <h3>Wall of Wonder</h3>

    <p>Description of the project: This should be fairly concise while also describing the key components that you developed or worked on. It can be as long as you need it to be but should at least be a few sentences long. Be sure to include specific links anywhere in the description.</p>
    <p>A link looks like <a href="https://frontendmasters.github.io/grid-flexbox-v2/">this</a>, and multiple links look <a href="#">like this</a> and <a href="#">like this</a>.</p>
        
    
    Technologies used include:
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>SVG</li>
    </ul>
    
    
    <img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-1.png" alt="Screenshot of the Wall of Wonder." />

</section>


<div class="section-plum">
    <section id="contact">
        <h2>Contact me</h2>
        <p>I'm always interested in hearing about new<br> job opportunities, writing curricula,<br> or instructional design work.</p>
        <p><a href="mailto:henrysilver.gold@gmail.com" class="button">Email me</a></p>
    </section>
</div>

<%- include('footer.ejs') %>