

<!--Navbar section-->
<nav>
    <ul>
        <li>
            <h1>
                <div class="logo-container">
                    <img src="/img/react-brands-solid.svg" alt="Logo do React" class="react-logo">
                    <a href="/" class="h1-logo">Henrique</a>
                </div>
            </h1>
        </li>
        <li>
            <a href="/projects">Projetos</a>
        </li>
        <li>
            <a href="/about">Sobre mim</a>
        </li>   
        <li>
            <a href="/#contact">Contato</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/henrique-silva-9737bb237/" target="_blank">
                <span>
                    <img src="/img/linkedin-brands.svg" alt="Logo do Linkedin" class="linkedin-logo">
                </span>
            </a>
        </li>
        <li>
            <a href="https://github.com/henrySilverIX" target="_blank">
                <span>
                    <img src="/img/square-github-brands.svg" alt="Logo do github" class = "github-logo">
                </span>
            </a>
        </li>
        <li>
            <a href="https://drive.google.com/file/d/14Md8QQnzA929Bn0lhQZ9xzpWGyTaan5g/view?usp=drive_link" class="button">Currículo</a>
        </li>
    </ul>
</nav>