<%- include('header.ejs') %>
<%- include('navbar.ejs') %>

<h1>Projects</h1>

<p>Aqui estão os meus projetos</p>


<section class="section-project">
    <h2>Projetos que eu tenho orgulho</h2>
    
    
    <h3>Scrum Web</h3>

    <p>Descrição do projeto:</p>
    <p>Trata-se de um site para aprendizagem sobre o método Scrum.</p>
    <p>O link para o projeto se encontra <a href="https://github.com/CodeDontBlow/Scrum-Tutor.git">aqui</a>, você também pode conferir o site nesse <a href="https://www.youtube.com/watch?v=EQWc5rAp7w4">aqui</a>. </p>
    
    <img src="/img/STlogoG.svg" alt="Logo do Scrum Tutor"/> <br>
    
    Tecnologias usadas:
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Flask</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>MySQL</li>
        <li>Python</li>
        
    </ul>

    Ferramentas:
    <ul>
        <li>Github</li>
        <li>Figma</li>
        <li>Trello</li>
    </ul>
    
    

</section>


<%- include('footer.ejs') %>